p{
    color: black;
    font-size: 200%;
}
#a1:hover{
    background-color: antiquewhite;
    color: black;
}
#a1:active{
    font-style: bold;
    background-color: antiquewhite
}  
#a1{
    text-decoration: none;
    font-size: 17px;
    color: rgba(97, 95, 95, 0.829);
}
table{
    background-color: white;
    background-size:auto;
}

    
