
h1{
    background-color: rgb(0, 89, 255);
    color: white ;
}
p{
    background-color: blue;
    color: white ;
}
a:hover{
    background-color: white;
    color: black;
}
a:active{
    background-color: white;
    color: black;
}
a{
    font: size 20px;
    color: white;
    text-decoration: none;
}
h4{
    float: right;
    padding-right: 500px;
    font-size: 20px;
    
}
#a1:hover{
    background-color: antiquewhite;
    color: black;
}
#a1:active{
    font-style: bold;
    background-color: antiquewhite
}  
#a1{
    text-decoration: none;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.829);
}  
body{
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}