#card1{
    float: left;
    padding-right: 200px;
    border-style:double;
    background-color: antiquewhite;
}
#card1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
p{
    float:right;
}



