<a align="right" routerLink="/back">back</a>
<router-outlet></router-outlet>
<form>
    <br>
    First name: <input type="text" name="first_name" /><br><br>
    Last name: <input type="text" name="last_name" /><br><br>
    E mail: <input type="text" name="email" /><br><br>
    City: <input type="text" name="city" /><br><br>
    Address: <input type="text" name="Address" /><br><br>
    
    <button type="button" id="Submit" style="background-color: rgb(9, 172, 9)">Submit</button>&nbsp;
    <input type="button" id="Cancel" value="Cancel">

</form>
