p{
    text-align: left;
}
#hp{
    float: left;
    padding-left: 400px
}

a:hover{
    background-color: antiquewhite;
    color: black;
}
a:active{
    font-style: bold;
    background-color: antiquewhite
}  
a{
    text-decoration: none;
    font-size: 17px;
    color: rgba(97, 95, 95, 0.829);
}  
